---
// Página del producto global para los coches
import Layout from "../../layouts/Layout.astro";
import SectionColor from "../../components/SectionColor.astro";
import SectionInterior from "../../components/SectionInterior.astro"
import SectionConfirm from "../../components/SectionConfirm.astro"

export function getStaticPaths() {
  return [
    {params: {modelo: 'tesla'}},
    {params: {modelo: 'huracan'}},
    {params: {modelo: 'mclaren'}},
    {params: {modelo: 'camaro'}},

  ];
}
const { modelo } = Astro.params;
let precio = 0;

switch (modelo) {
  case 'tesla':
    precio = 65.443;
    break;
  case 'camaro':
    precio = 35.099;
    break;
  case 'huracan':
    precio = 214.599;
    break;
  case 'mclaren':
    precio = 283.009;
    break;
  default:
    precio = 35.099;
    }
---

<style>
  @import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
  *{
    font-family: 'Gabarito', sans-serif;
  }
</style>

<!-- Dado que es el esqueleto global, solo implementa los componentes ya descritos y le indica la versión -->
<Layout title="San Andreas Motorsports">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div>
      <SectionColor model={modelo} price={precio}/>
    </div>
    <div class="snap-center">
      <SectionInterior model={modelo} price={precio}/>
    </div>
    <div class="snap-center">
      <SectionConfirm model={modelo} price={precio}/>
    </div>
  </main>
</Layout>