---
export interface Props {

  imageCar: Array<string>;
  brand: string;

}

const { imageCar, brand } = Astro.props as Props;
---

<style>
  .swiper {
    margin: 10px auto;
    width: 40%;
    height: 35vh;
    margin-top: 90px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
</style>


<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img alt=`${brand} 0` src=`${imageCar[0]}`></div>
    <div class="swiper-slide"><img alt=`${brand} 1` src=`${imageCar[1]}`></div>
    <div class="swiper-slide"><img alt=`${brand} 2` src=`${imageCar[2]}`></div>
  </div>
</div>

<script>
// import Swiper JS
import Swiper from 'swiper';
// import Swiper styles
import 'swiper/css';

const swiper = new Swiper(".mySwiper", {
      effect: "cards",
      grabCursor: true,
    });

</script>