---
import 'animate.css';
import NavigateProduct from './NavigateProduct.astro';
const { model } = Astro.props;
---

<section 
  id="section-color"
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center snap-center"
>
<div class="flex flex-row items-center justify-evenly w-screen h-screen">
  <div class="w-[70%] h-3/4 items-center justify-center">
    <h2 class="text-4xl font-bold text-center">Tesla Model S</h2>
    <ul class="flex flex-row items-center justify-evenly mt-2"><li>Autonomía: <strong>634km</strong></li><li>Velocidad Máxima: <strong>250km/h</strong></li><li>0-100km/h en <strong>3.2 segundos</strong></li></ul>
    <div class="w-full h-full justify-center items-center flex">
      <img src=`/${model}_blanco_1.png` id="image-color" class="w-3/5 image-color" alt="Tesla S" />
    </div>
  </div>
  <NavigateProduct step={[1]}>
</div>
<footer class="mb-10">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center">
      <button onclick={`window.changeColor('blanco', '${model}')`} class="bg-white border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      <button onclick={`window.changeColor('negro', '${model}')`} class="animate__fadeIn bg-black border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">      
      <button onclick={`window.changeColor('rojo', '${model}')`}  class="animate__fadeIn bg-red-700 border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      <button onclick={`window.changeColor('azul', '${model}')`}  class="animate__fadeIn bg-blue-800 border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      </div>
  </div>
</footer>
</section>
<section
  id="section-ruedas"
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center snap-center"
>
<div class="flex flex-row items-center justify-evenly w-screen h-screen">
  <div class="w-[70%] h-3/4 items-center justify-center">
    <h2 class="text-4xl font-bold text-center">Tesla Model S</h2>
    <ul class="flex flex-row items-center justify-evenly mt-2"><li>Autonomía: <strong>634km</strong></li><li>Velocidad Máxima: <strong>250km/h</strong></li><li>0-100km/h en <strong>3.2 segundos</strong></li></ul>
    <div class="w-full h-full justify-center items-center flex">
      <img id="image-ruedas" src=`/${model}_blanco_1.png` class="w-3/5 image-ruedas" alt="Tesla S" />
    </div>
    </div>
  <NavigateProduct step={[1, 2]}>
</div>
<footer class="mb-10">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center">
      <button onclick={`window.changeRueda(2, '${model}')`} class="mx-3 w-16 h-16 flex justify-center items-center"><img src="/tesla-llantas-1.avif"></button>
      <button onclick={`window.changeRueda(1, '${model}')`}  class="mx-3 w-16 h-16 flex justify-center items-center"><img src="/tesla-llantas-2.avif"></button>
    </div>
  </div>
</footer>
</section>

<script>
  window.selectedColor = {
    color: "blanco",
    rueda: 1
  };

  window.changeColor = function(colorNuevo, modelo) {
    window.selectedColor.color = colorNuevo;
    console.log(window.selectedColor.color)
    const imageColor = document.getElementById("image-color");
    const imageRuedas = document.getElementById("image-ruedas");
    imageRuedas.src = `/${modelo}_${window.selectedColor.color}_1.png`;
    imageColor.src = `/${modelo}_${window.selectedColor.color}_1.png`;
  }

  window.changeRueda = function(rueda, modelo) {
    console.log(rueda)
    const imageRueda = document.getElementById("image-ruedas");
    const imageColor = document.getElementById("image-color");
    imageColor.src = `/${modelo}_${window.selectedColor.color}_${rueda}.png`;
    imageRueda.src = `/${modelo}_${window.selectedColor.color}_${rueda}.png`;
  }
</script>