---
import NavigateProduct from "../components/NavigateProduct.astro";
// Tercera seccion de la modificación del bestseller
const { model, price } = Astro.props;
console.log(model)
let modelCar = ""
let autonomia = 634;
let velocidad = 250;
let aceleracion = 3.2;
// Al igual que en la versión previa, necesitaremos cambiar algunos datos dependiendo de que
//coche estemos modificando
switch (model) {
  case 'tesla':
    modelCar = "Tesla Model S";
    autonomia = 634;
    velocidad = 250;
    aceleracion = 3.2
    break;
  case 'camaro':
    modelCar = "Chevrolet Camaro";
    autonomia = 854;
    velocidad = 216;
    aceleracion = 4.4
    break;
  case 'huracan':
    modelCar = "Lamborghini Huracan";
    autonomia = 754;
    velocidad = 264;
    aceleracion = 2.2
    break;
  case 'mclaren':
    modelCar = "McLaren 720s";
    autonomia = 776;
    velocidad = 302;
    aceleracion = 1.7
    break;
  default:
    modelCar = "Unknown model";
}
---
<section
  class="bg-white h-screen w-screen text-center relative flex flex-col items-center"
  id = "section-interior"
>
<!-- Anque en este caso solo damos la opción de blanco o negro -->
<div class="flex sm:flex-row flex-col items-center justify-center sm:justify-evenly w-screen h-[65%] sm:h-screen">
  <div class="sm:w-[70%] w-full sm:h-3/4 items-center justify-center">
    <h2 class="text-4xl font-bold text-center mt-5">{modelCar}</h2>
    <ul class="flex sm:text-xl flex-row items-center justify-evenly mt-16 sm:mt-5"><li>El precio al seleccionar un interior diferente al predeterminado es de +5400$</li></ul>
    <div class="w-full h-full sm:h-full justify-center items-center flex">
        <img id="image-interior" src={`/${model}_interior_negro.png`} class="sm:w-3/5" alt="Interior" />
      </div>
    </div>
    <div class="hidden sm:flex">
      <NavigateProduct step={[1, 2, 3]}/>
    </div>
</div>
<footer class="sm:mb-10 mt-24">
  <div class="flex flex-row justify-center items-center">
    <div class="flex flex-row justify-center items-center">
      <button onclick={`changeInterior('negro', '${model}')`}class="bg-black border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
      <button onclick={`changeInterior('blanco', '${model}')`} class="bg-white border-2 border-black mx-3 rounded-full w-16 h-16 flex justify-center items-center">
    </div>
  </div>
</footer>
<div class="block sm:hidden">
  <NavigateProduct step={[1, 2, 3]}/>
</div>
<div class="text-black text-4xl absolute right-48 top-[80%] z-40" id="precio">{price}$ </div>

</section>

<script>  
  window.changeInterior = function(interior, model ) {
    const imageInterior = document.getElementById("image-interior")
    imageInterior.src = `/${model}_interior_${interior}.png`;
  }
</script>