---
import Layout from "../../layouts/Layout.astro";
import Calendar from "../../components/Calendar.astro";

import {getSession} from "auth-astro/server"

const session = await getSession(Astro.request)

// Checks if user is logged in, and if not send them to the login page
if (!session) {
  return Astro.redirect("/login")
}

export function getStaticPaths() {
  return [
    {params: {modelo: 'tesla'}},
    {params: {modelo: 'huracan'}},
    {params: {modelo: 'mclaren'}},
    {params: {modelo: 'camaro'}},

  ];
}
let modelCar = "";
const { modelo } = Astro.params;
switch (modelo) {
  case 'tesla':
    modelCar = "Tesla Model S";
    break;
  case 'camaro':
    modelCar = "Chevrolet Camaro";
    break;
  case 'huracan':
    modelCar = "Lamborghini Huracan";
    break;
  case 'mclaren':
    modelCar = "McLaren 720s";
    break;
  default:
    modelCar = "Unknown model";
}
---
<link rel="stylesheet" href="/pedidos.css">
<Layout title="San Andreas Motorsports">
  <main>
  
  <nav class="h-full flex flex-row w-full mt-10 py-8">
    <div class=`flex flex-col items-center justify-evenly w-1/3 mt-5 px-10`><a href="#"   class=`step active border-2 border-black rounded-full w-16 h-16`></a>Lugar</div>
    <div class=`flex flex-col items-center justify-evenly w-1/3 mt-5 px-10`><a href="#"  class=`step border-2 border-black rounded-full w-16 h-16  `></a>Datos</div>
    <div class=`flex flex-col items-center justify-evenly w-1/3 mt-5 px-10`><a href="#"class=`step border-2 border-black rounded-full w-16 h-16`></a>Confirmación</div>
  </nav>
  <h2 class="text-4xl font-bold text-center mb-24 sm:mb-7">Concerte su cita</h2>  
  <section id="section-lugar">
    <div class="flex flex-col font-gabarito">
        <div class="flex w-full sm:flex-row flex-col justify-center sm:justify-start">
          <div class="sm:ml-10 sm:h-0 sm:mt-0 mt-16 ml-16 h-40 justify-center flex items-center">
            <button id="dropdown-pais" class="bg-slate-900 sm:w-36 text-2xl text-white font-semibold py-2 px-4 rounded inline-flex items-center">
              <span class="mr-1 " id="pais">País</span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul id="dropdown-menu-pais" class="dropdown-menu absolute hidden text-gray-700 pt-1">
              <li><button class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center posible_countries" id="country1">España</button></li>
              <li><button class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center posible_countries" id="country2">EE.UU</button></li>
              <li><button class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center posible_countries" id="country3">Alemania</button></li>
            </ul>
          </div>
          <div class="sm:ml-10 ml-16 sm:h-0 h-36 justify-center items-center flex">
            <button id="dropdown-hora" class="bg-slate-900 w-36 text-2xl text-white font-semibold py-2 px-4 rounded inline-flex items-center">
              <span id="hora" class="mr-1">Hora</span>
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
            </button>
            <ul id="dropdown-menu-hora" class="dropdown-menu absolute hidden text-gray-700 pt-1">
              <li><a class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center selected_hour" href="#">16:00</a></li>
              <li><a class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center selected_hour" href="#">17:00</a></li>
              <li><a class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center selected_hour" href="#">18:00</a></li>
              <li><a class="bg-gray-200 hover:bg-gray-400 text-2xl text-gray-700  w-36 font-semibold py-2 px-4 rounded inline-flex items-center selected_hour" href="#">19:00</a></li>
            </ul>
          </div>
          <div class="ml-10">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1370.9315057446458!2d-3.967526892206348!3d39.865596421769084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a090cdd52e087%3A0x4fc8aa2ef30036da!2sC.%20R%C3%ADo%20Valdelospozos%2C%204%2C%2045007%20Toledo!5e0!3m2!1ses!2ses!4v1702572516410!5m2!1ses!2ses" 
              width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
          <div class="ml-56 sm:ml-10">
            <ul id="dropdown-menu-dia" class="absolute text-gray-700 pt-1">
              <Calendar />
            </ul>
          </div>
        </div>
    </div>
  </section>

  <section id="section-datos">
    <form class="flex flex-col text-2xl font-bold mt-8" method="post" id="pago-form">
      <label for="nombre">Nombre del titular de la tarjeta:</label>
      <input
        type="text"
        id="nombre"
        class="mt-2"
        name="nombre"
        placeholder={session.user.name}
        pattern="A-Za-z\s'-]+"
        required
      /><br />

      <label for="tarjeta">Número de tarjeta de crédito:</label>
      <input
        type="text"
        id="tarjeta"
        name="tarjeta"
        class="mt-2"
        placeholder="5105-1051-0510-5100"
        required
      /><br />

      <label for="vencimiento">Fecha de vencimiento:</label>
      <input
        type="text"
        id="vencimiento"
        name="vencimiento"
        class="mt-2"
        placeholder="dd-mm-yyyy"
        required
      /><br />

      <label for="cvv">CVV:</label>
      <input
        type="text"
        id="cvv"
        name="cvv"
        pattern="[0-9]{3,4}"
        class="mt-2"
        required
      /><br />
      <button type="submit" class="text-2xl bg-slate-800 rounded-xl p-4 mt-7 hover:text-white text-white hover:bg-slate-900 transition-all" id="startButton">
        Pagar
      </button>
    </form>
  </section>
  
  <section id="section-confirmar">
    <div>
      <!-- Para dos columnas -->
      <div class = "flex flex-col sm:flex-row items-center justify-center">
        <!--Primera columna -->
        <div class="w-1/2 h-full items-center justify-center">
          <!-- primera parte primera columna -->
          <div class="">
            <h2 class="text-4xl">Datos personales</h2>
            { console.log(session.user)}
            <p class="text-2xl">Username: {session.user.name}</p>
            <p class="text-2xl">E-mail: {session.user.email}</p>
            <p class="text-2xl">Phone: {session.user.phone}</p>
            <!--Aqui habría que acceder a la base de datos y recoger los resultados -->
            <p class="text-2xl" id ="credit_card">Credit card:</p>
          </div>
          <!-- Segunda parte primera columna -->
          <div>
            <h2 class="text-3xl font-bold mt-4">Modelo seleccionado:</h2>
            <img alt="coche cita" src=`/${modelo}_blanco_1.png`>
          </div>
        </div>  
        <!-- Segunda columna(a la derecha) -->
        <div class="flex flex-col items-center justify-center">
          <!-- Datos de lugar y hora -->
          <div class="flex flex-row text-xl mr-7 ml-7 sm:mt-0 mt-60">
            <p class="m-4" id="lugar">Lugar: </p>
            <p class="m-4" id="fech" >  Fecha: </p>
            <p class="m-4" id="hor" >  Hora: </p>
          </div>
          <div class="ml-10">
            <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1370.9315057446458!2d-3.967526892206348!3d39.865596421769084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6a090cdd52e087%3A0x4fc8aa2ef30036da!2sC.%20R%C3%ADo%20Valdelospozos%2C%204%2C%2045007%20Toledo!5e0!3m2!1ses!2ses!4v1702572516410!5m2!1ses!2ses" 
              width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>  
      </div>
    </div>
    <div id="reserva_hecha"><h2 class="mb-4">Cita concertada con éxito</h2><div class="flex flex-row items-center justify-center sm:w-auto w-[90%]"><img class="bg-white h-auto rounded-xl w-1/2 sm:w-1/4 mr-2"  alt="logo-marca" src=`/${modelo}-logo.png`> & <img alt="logo-sam" class="ml-2 rounded-xl w-1/2 sm:w-1/4"  src="/logo.png"></div></div>
  </section>
  <footer class="flex h-full items-center justify-center p-5">
    <button class="text-2xl bg-slate-900 text-white rounded-xl  p-4 mt-24 sm:mt-2 hover:text-white  hover:bg-slate-900 transition-all" id="confirma_compra">Confirmar Reserva</button>
  </footer>
</main>
</Layout>
<script src="/pedidos.js" is:inline></script>
