---
import LandingHeader from '../../components/LandingHeader.astro';
import TextoTesla from '../../components/TextoTesla.astro';
import TextoHuracan from '../../components/TextoHuracan.astro';
import TextoMclaren from '../../components/TextoMclaren.astro';
import TextoCamaro from '../../components/TextoCamaro.astro';

export function getStaticPaths() {
  return [
    {params: {modelo: 'tesla'}},
    {params: {modelo: 'huracan'}},
    {params: {modelo: 'mclaren'}},
    {params: {modelo: 'camaro'}},
  ];
}

const { modelo } = Astro.params;
let text = "";

const TextoComponent = modelo === 'tesla' ? TextoTesla :
                      modelo === 'huracan' ? TextoHuracan :
                      modelo === 'mclaren' ? TextoMclaren :
                      TextoCamaro;

---

<style>
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');

@media screen and (max-width: 767px) {
    #galeria {
        height: 20px;
    }
    .swiper-slide {
      height: 20px;
    }
}
.swiper {
    width: 80%;
    height: 65vh;
    margin-top: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
</style>
<LandingHeader />
<section class="snap-center font-gabarito">
  <div class="flex mt-20 sm:h-[20%] sm:w-screen flex-col sm:flex-row items-center justify-center sm:justify-evenly">
    <p class="text-black text-4xl font-extrabold text-center mr-0 sm:mr-80">San Andreas Motorsports official partner</p>
    <img src={`/${modelo}-logo.png`} class="sm:w-[12%] w-1/2 items-center justify-center sm:mr-44" />
  </div>
  <div class="flex flex-col sm:flex-row">
    <div id ="galeria" class="flex sm:h-[70%] w-full sm:w-[60%] flex-col justify-between items-center">
      <div class="swiper" id="swiper-Carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img alt="tesla model-s" src={`/${modelo}-slider-1.jpeg`}></div>
          <div class="swiper-slide"><img alt="mclaren 720s" src={`/${modelo}-slider-2.jpeg`}></div>
          <div class="swiper-slide"><img alt="chevrolet camaro" src={`/${modelo}-slider-3.jpeg`}></div>
          <div class="swiper-slide"><img alt="Lamborghini Huracan" src={`/${modelo}-slider-4.jpeg`}></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="flex flex-col sm:w-1/3 w-full text-center justify-center items-center">
      <TextoComponent />
    </div>
  </div>
</section>
<div class="flex items-center justify-center">
  <a href={`/product/${modelo}`} class="hover:bg-slate-900 hover:text-white font-gabarito font-bold transition-all mb-4 mr-1 p-2 sm:p-4 sm:text-lg bg-light-grey rounded-lg sm:mt-4">
    COMPRA AHORA
  </a>
  <a href={`/compra/${modelo}`} class="hover:bg-slate-900 hover:text-white font-gabarito font-bold transition-all mb-4 mr-1 p-2 sm:p-4 sm:text-lg bg-light-grey rounded-lg sm:mt-4">
    PRUEBA DE CONDUCCION
  </a>
</div>

<script>
  import Swiper from 'swiper';
  import {Navigation, Pagination, Autoplay} from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper(`#swiper-Carousel`, {
      modules: [Navigation, Pagination, Autoplay],
      slidesPerView: 1,
      loop: true,
      pagination: {
          el: `#swiper-Carousel > .swiper-pagination`,
          clickable: true,
      },
      autoplay: {
          delay: 5000,
          disableOnInteraction: false,
      },
      navigation: {
          nextEl: `#swiper-Carousel > .swiper-button-next`,
          prevEl: `#swiper-Carousel > .swiper-button-prev`,
      },
  });
</script>