---
import LandingHeader from '../../components/LandingHeader.astro';

export function getStaticPaths() {
  return [
    {params: {modelo: 'tesla'}},
    {params: {modelo: 'huracan'}},
    {params: {modelo: 'mclaren'}},
    {params: {modelo: 'camaro'}},

  ];
}
const { modelo } = Astro.params;
---

<style>
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');


  .swiper {
      width: 60%;
      height: 65vh;
      margin-top: 50px;
  }

  .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .swiper {
      margin-left: auto;
      margin-right: auto;
  }
</style>
<LandingHeader />
<section class="snap-center font-gabarito">
  <div class="flex h-full w-full flex-row justify-center items-center mt-16">
    <p class="text-black text-4xl font-extrabold">San Andreas Motorsports official partner:</p>
    <img src=`/${modelo}-logo.png` class="w-1/12 items-center" />
  </div>

<div class="swiper" id="swiper-Carousel">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img alt="tesla model-s" src=`/${modelo}-slider-1.jpeg`></div>
      <div class="swiper-slide"><img alt="mclaren 720s" src=`/${modelo}-slider-2.jpeg`></div>
      <div class="swiper-slide"><img alt="chevrolet camaro" src=`/${modelo}-slider-3.jpeg`></div>
      <div class="swiper-slide"><img alt="Lamborghini Huracan" src=`/${modelo}-slider-4.jpeg`></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
<div class="flex items-center justify-center">
  <a href=`/product/${modelo}` class="p-4 text-lg bg-light-grey rounded-lg mt-4">
    COMPRA AHORA
  </a>
</div>
</section>

<script>
  import Swiper from 'swiper';
  import {Navigation, Pagination, Autoplay} from 'swiper/modules';
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  new Swiper(`#swiper-Carousel`, {
      modules: [Navigation, Pagination, Autoplay],
      slidesPerView: 1,
      loop: true,
      pagination: {
          el: `#swiper-Carousel > .swiper-pagination`,
          clickable: true,
      },
      autoplay: {
          delay: 5000,
          disableOnInteraction: false,
      },
      navigation: {
          nextEl: `#swiper-Carousel > .swiper-button-next`,
          prevEl: `#swiper-Carousel > .swiper-button-prev`,
      },
  });
</script>